@use "../util" as u;
.about {
  &__bg {
    position: relative;
    padding-block: u.rem(240);
    background-image: url(../../public/img/about-bg.png);
    -webkit-background-image: url(../../public/img/about-bg.png);
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
    animation: moveBackground 120s ease forwards;
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: radial-gradient(
        50% 50% at 50% 50%,
        rgba(224, 215, 201, 0.09) 0%,
        rgba(100, 66, 35, 0.2) 100%
      );
    }
  }
  &__title {
    position: relative;
    z-index: 1;
    margin-block-end: u.rem(48);
    font-family: var(--ff-serif);
    font-size: var(--f-xl);
    font-weight: 900;
    color: var(--c-white);
    text-align: center;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    text-wrap: balance;
    line-height: 1.5;
  }
  text-align: center;
  &__button {
    position: relative;
    z-index: 1;
  }
  &__wrapper {
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: u.rem(36);
    margin-block: u.rem(120);
    text-align: left;

    &-content {
      width: 100%;
    }
    &-title {
      margin-block-end: u.rem(24);
      font-family: var(--ff-serif);
      font-weight: 900;
      font-size: var(--f-l);
      color: var(--c-primary);
    }
    &-description {
      max-width: 60ch;
      letter-spacing: u.rem(2);
    }
    &-img {
      width: 100%;
      overflow: hidden;
      img {
      }
    }
    &:first-child {
      img {
        height: 20em;
        object-fit: cover;
        object-position: top right;
      }
    }
  }
  @media (width >= u.em(600)) {
    &__item {
      flex-direction: row;
      &:last-child {
        flex-direction: row-reverse;
      }
    }
    &-content {
      width: 40%;
    }
    &-img {
      width: 45%;
    }
  }
}
