@use "../util" as u;

.hero {
  height: 83.33dvh;
  width: 100%;
  background-image: url(../../public/img/hero-bg.png);
  -webkit-background-image: url(../../public/img/hero-bg.png);
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  animation: moveBackground 10s ease forwards;
}

.intro {
  padding-block: u.rem(120);
  background: var(--c-secondary);
  text-align: center;
  &__title {
    margin-block-end: u.rem(24);
    font-size: var(--f-l);
    color: var(--c-primary);
  }
  &__text {
    font-size: var(--f-x);
  }
}
